*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Orbitron, sans-serif;
}

body{
background:#05020a;
color:white;
height:100vh;
display:flex;
justify-content:center;
}

.app{
width:420px;
}

.glass{

background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.1);
border-radius:16px;
padding:15px;
margin:10px;

}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.topbar h1{
color:#f6c65b;
}

.profile{
display:flex;
align-items:center;
gap:15px;
}

.avatar-frame{
position:relative;
width:90px;
height:90px;
border:3px solid gold;
border-radius:20px;
overflow:hidden;
}

.avatar-frame img{
width:100%;
height:100%;
object-fit:cover;
}

.level{
position:absolute;
top:-10px;
right:-10px;
background:gold;
color:black;
padding:5px 8px;
border-radius:10px;
}

.driver-info{
flex:1;
font-size:13px;
}

.quote{
margin-top:6px;
font-style:italic;
opacity:.8;
}

.rank-box{
width:140px;
text-align:center;
}

.rank{
color:#70e7ff;
margin-bottom:5px;
}

.battery-bar{
height:8px;
background:#222;
border-radius:8px;
overflow:hidden;
}

#battery-fill{
height:100%;
width:60%;
background:#00ffd5;
}

.stats{
display:grid;
grid-template-columns:1fr 1fr 1fr;
align-items:center;
}

.progress{
height:8px;
background:#333;
border-radius:10px;
margin-top:5px;
}

.progress span{
display:block;
height:100%;
background:gold;
}

.progress.purple span{
background:#b05cff;
}

.radar{
height:160px;
}

.weather{
text-align:center;
}

.debuff{
color:red;
}

.command{
text-align:center;
}

.mission{
background:linear-gradient(90deg,#ffd75f,#ff9a00);
border:none;
padding:15px;
font-size:18px;
border-radius:14px;
margin:10px;
cursor:pointer;
}

.commands{
display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;
}

.commands button{
background:#111;
border:1px solid #444;
color:white;
padding:8px 12px;
border-radius:8px;
}

.donate{
background:#ff4081;
}

.analytics{
display:flex;
justify-content:space-between;
}

.orders p{
margin:5px 0;
}

.money{
color:#00ff9d;
}

.danger{
color:red;
}

.rating{
font-size:32px;
color:gold;
}

.ticker{
background:#111;
padding:8px;
font-size:12px;
border-top:1px solid #444;
border-bottom:1px solid #444;
overflow:hidden;
white-space:nowrap;
animation:scroll 15s linear infinite;
}

@keyframes scroll{
from{transform:translateX(100%)}
to{transform:translateX(-100%)}
}

.dropdowns{
margin:10px;
}

.panel{
background:#111;
padding:12px;
border:1px solid #444;
margin-top:8px;
border-radius:10px;
cursor:pointer;
}
