:root {
    --bg-main: #05020a;
    --accent-s: #df00ff; /* Magenta untuk Rank S */
    --accent-a: #ff004c; /* Merah untuk Rank A */
    --glass: rgba(15, 6, 28, 0.6);
    --border-glow: rgba(223, 0, 255, 0.4);
}

body {
    background: var(--bg-main);
    color: #ebd9fc;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* Efek Glassmorphism Global */
.glass-panel {
    background: var(--glass);
    backdrop-filter: blur(15px);
    border: 1px solid var(--border-glow);
    border-radius: 4px; /* Sesuai permintaan: dewasa & tegas */
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.sdi-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}
